body{

    font-family: 'Times New Roman', Times, serif;
}

.shop{

    display: flex;  
}
.home-up{
    background-image: url("../src/assets/a.jpg");
    background-position: center;
    object-fit: cover;
    height: 50%;

}
.hello{

border-bottom: 30px;
margin: 10px;
h1{
    padding: 20px;
    color: aliceblue;

}
p{
    margin-left: 30px;
    color: aliceblue;
}
}
.hello2{
    border-top: 200px;
}

.footer{
    position: relative;
    color: #ddd;
    background-color: #252020;
}
.slide{
    width:30%;
    border: 2px solid white;
    border-radius: 5px;
    background: #f1eeee;
    height:60%;
}
.slider{
    width: 60%;
    margin: 5%;
    
}
.image2{
    border-radius: 10px;
    object-fit: cover;
}